{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Applicant Profile</h2>
    <div class="row">
        <div class="col-4">
            {% if applicant.lastname %}
            <img src="{{ applicant.profilepic.url }}" alt="{{ applicant.firstname }} {{ applicant.lastname }} profile picture" width="75%">
            {% else %}
            <img src="https://res.cloudinary.com/dciztrsmx/image/upload/v1738658416/yrejs9xiufff6xpoyfpa.jpg" alt="Default profile picture" width="75%">
            {% endif %}
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h3>{{ applicant.firstname }} {{ applicant.lastname }}</h3>
                </div>
                <div class="col-12 col-md-6">
                    {% if applicant.role %}
                    <h4>Role: {{ applicant.role }}</h4>
                    {% endif %}
                </div>
            </div>
            {% if applicant.email %}
            <p>Email: {{ applicant.email }}</p>
            {% endif %}
            {% if applicant.intro %}
                <p>{{ applicant.intro | safe }}</p>
            {% endif %}
            {% if applicant.skills %}
                <p>Skills: {{ applicant.skills | safe }}</p>
            {% endif %}
            {% if applicant.experience %}
                <p>Experience: {{ applicant.experience | safe }}</p>
            {% endif %}
            <p class="address-text">Address: {% if applicant.address1 %}{{ applicant.address1 }},{% endif %}</p>
            {% if applicant.address2 %}
                <p class="address-text">{{ applicant.address2 }},</p>
            {% endif %}
            {% if applicant.city %}
                <p class="address-text">{{ applicant.city }},</p>
            {% endif %}
            <p class="address-text">{{ applicant.postcode }}</p>
            <p class="text-end"><em>Updated on: {{ applicant.updated_on }}</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right p-3">
            <a href="{% url 'applicant_update' pk=applicant.id %}" class="btn btn-primary">Edit</a>
            <a class="btn btn-secondary" href="javascript:history.back()" aria-label="Cancel Edit and go back a page">Cancel</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Job Applications</h3>
            {% if applicant.applications.all %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Date Applied</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applicant.applications.all %}
                    <tr>
                        <td><a href="{% url 'job_detail' pk=application.job.id %}">{{ application.job.title }}</a></td>
                        <td>{{ application.job.location }}</td>
                        <td>{{ application.created_on }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No job applications found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
