body {
    background-color: #F9FAFC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Audiowide, sans-serif;
    font-weight: 400;
}

#logo {
    width: 1.6rem;
    margin-right: 0.5rem;
    margin-bottom: 0.6rem;
}

.brand {
    font-family: Audiowide, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #4A4A4F;
}

#navbar {
    background-color: #cbe7fc;
}


.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

/* Hero section */
.hero {
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #56351e;
    font-size: 1.8rem;
    text-align: center;
    padding: 8rem 0;
}

#index-hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(188, 183, 183, 0.5)), url('/static/images/hero.webp');
}


.hero h1 {
    font-family: Audiowide, sans-serif;
    font-size: 3.5rem;
    color: #094074;
}

.hero p {
    margin-top: -1rem;
}

/* Job Posts section */
#job-posts {
    background-color: #b8b8b8;
    margin-bottom: 10rem;
    padding: 2rem 0;
}

#job-posts h3 {
    color: #094074;
}

/* Employers section */
#employers {
    background-color: #959595;
    margin-bottom: 10rem;
    padding: 2rem 0;
}

#employers h3 {
    color: #094074;
}

#employers a {
    color: #ffffff;
}

/* Testimonials */
.testimonials {
    background-color: #094074;
    padding: 2rem 0;
}

.testimonials h2 {
    color:#f7f7de;
}

.testimonial {
    background-color: #174f11;
    padding: 2rem 0;
    margin-top: -4rem;
}

.testimonial-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.testimonial-quote {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    color: #ffffff;
    margin: 1.2rem;
    padding: 0.8rem;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Profiles */
.address-text {
    display: inline;
}