{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<!-- Hero section -->
<section id="index-hero" class="hero bg-light text-center">
    <div class="container ms-auto">
        <div class="text-start">
            <h1>Next Stop: Your Dream Job</h1>
            <!-- <p class="lead"></p>-->
            <a href="{% url 'account_signup' %}" class="btn btn-info" aria-label="Go to the Signup page">Sign Up <i class="fa-solid fa-user-plus"></i></a>
        </div>
    </div>
</section>
<!-- Applicants: Job Posts section -->
<section id="job-posts" class="job-posts py-3">
    <div class="container">
        <div class="row">
    
            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    <h3>Featured Job Listings</h3>
                    {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                        alt="placeholder image">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
    
                                <hr />
                                <p class="card-text text-muted h6">{{ post.created_on}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
    
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>
<!-- Employers: Applicants List section -->
<section id="employers" class="employers py-3">
    <div class="container">
        <div class="row">
    
            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    <h3>Star Candidates</h3>
                    {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                        alt="placeholder image">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
    
                                <hr />
                                <p class="card-text text-muted h6">{{ post.created_on}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
    
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials" class="testimonials py-3">
    <div class="container">
        <h2>Testimonials</h2>
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <!-- <img src="{% static 'images/carousel1.png' %}" class="testimonial-img d-block mx-auto" alt="A grandad sharing his scrapbook with his two grand-daughters" data-bs-interval="12000"> -->
                    <blockquote class="blockquote">
                        <p class="testimonial-quote">"JobMart made my job search so much easier. I found my dream job within a week of signing up!"</p>
                </div>
                <div class="carousel-item text-center">
                    <!-- <img src="{% static 'images/carousel2.png' %}" class="testimonial-img d-block mx-auto" alt="A patient laughing while sharing her scrapbook with a nurse" data-bs-interval="12000"> -->
                    <blockquote class="blockquote">
                        <p class="testimonial-quote">"Thanks to JobMart, I connected with top employers and landed a job that perfectly matches my skills."</p>
                    </blockquote>
                </div>
                <div class="carousel-item text-center">
                    <!-- <img src="{% static 'images/carousel3.png' %}" class="testimonial-img d-block mx-auto" alt="A family member browsing through a scrapbook while holding hands with their loved one" data-bs-interval="12000"> -->
                    <blockquote class="blockquote">
                            <p class="testimonial-quote">"JobMart is the best job search platform I've ever used. I highly recommend it to anyone looking for a job."</p>
                    </blockquote>
                </div>
            </div>
            <button class="carousel-control-prev px-1" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next px-1" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<!-- index.html content ends here -->
{% endblock %}