{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<!-- Hero section -->
<section id="index-hero" class="hero bg-light text-center">
    <div class="container ms-auto">
        <div class="text-start">
            <h1>Next Stop: Your Dream Job</h1>
            <a href="{% url 'account_signup' %}" class="btn btn-info" aria-label="Go to the Signup page">Sign Up <i class="fa-solid fa-user-plus"></i></a>
        </div>
    </div>
</section>
<!-- Applicants: Job Posts section -->
<section id="job-posts" class="job-posts py-4">
    <div class="container">
        <div class="row">
    
            <!-- Job listings Column -->
            <div class="col-12 my-3 left">
                <div class="row">
                    <h3 class="mb-3">Featured Job Listings</h3>
                    {% for job in jobs %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ job.title }}</h5>
                                <p class="card-text">{{ job.description|truncatewords:20|safe }}</p>
                                <p class="card-text"><small class="text-muted">{{ job.location }}</small></p>
                                <p class="card-text"><small class="text-muted">£{{ job.salary }}</small></p>
                                <a href="{% url 'job_detail' job.pk %}" class="btn btn-primary">View Job</a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>
<!-- Employers: Applicants List section -->
<section id="applicants" class="applicants py-3">
    <div class="container">
        <div class="row">
            <h3>Star Applicants</h3>
            <div class="col-md-4">
                {% include "profiles/applicant_list.html" %}
            </div>
        </div>
    </div>
</section>
<!-- Employers: Employers List section
<section id="employers" class="employers py-3">
    <div class="container">
        <div class="row">
            <h3>Top Employers</h3>
            <div class="col-md-4">       
                {% include "profiles/employer_list.html" %}
            </div>
        </div>
    </div>
</section> -->
<!-- Testimonials -->
<section id="testimonials" class="testimonials py-3">
    <div class="container">
        <h2>Testimonials</h2>
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img src="{% static 'images/app4.webp' %}" class="testimonial-img d-block mx-auto" alt="Jo Smith" data-bs-interval="12000">
                    <blockquote class="blockquote">
                        <p class="testimonial-quote">"JobMart made my job search so much easier. I found my dream job within a week of signing up!"</p>
                </div>
                <div class="carousel-item text-center">
                    <img src="{% static 'images/app5.webp' %}" class="testimonial-img d-block mx-auto" alt="Hilary Mellini" data-bs-interval="12000">
                    <blockquote class="blockquote">
                        <p class="testimonial-quote">"Thanks to JobMart, I connected with top employers and landed a job that perfectly matches my skills."</p>
                    </blockquote>
                </div>
                <div class="carousel-item text-center">
                    <img src="{% static 'images/app6.webp' %}" class="testimonial-img d-block mx-auto" alt="Perry Bergman" data-bs-interval="12000">
                    <blockquote class="blockquote">
                            <p class="testimonial-quote">"JobMart is the best job search platform I've ever used. I highly recommend it to anyone looking for a job."</p>
                    </blockquote>
                </div>
            </div>
            <button class="carousel-control-prev px-1" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next px-1" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<!-- index.html content ends here -->
{% endblock %}